.discover {
  margin-top: f;
  height: 90vh; 
  background-image: url('../assets/Banner.svg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
}
h1,p{
    color: white;
    
}
.image-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 20px;
  padding-bottom: 20px;
}

.scroll-image {
  width: 800px;
  height: auto;
}
::-webkit-scrollbar {
  display: none;
}